<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <div v-if="game">
            <div class="row">
                <div class="game">
                    <div class="player2">
                        <div class="hand">
                            <img 
                                v-for="card in game.player2.hand" 
                                :src="GLOBALS.ASSETS[card.asset].src" 
                                :width="CONSTANTS.CARD.SIZES.WIDTH" 
                                :height="CONSTANTS.CARD.SIZES.HEIGHT" 
                                @mouseover="SetShowcaseImage(GLOBALS.ASSETS[card.asset].src)"
                                @click="CardOptions(card)"
                            >
                        </div>
                        <div class="slots back">
                            <div class="slot structure" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.STRUCTURE}}</span>
                                </div>
                            </div>
                            <div class="slot utility" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UTILITY}}</span>
                                </div>
                            </div>
                            <div class="slot structure" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.STRUCTURE}}</span>
                                </div>
                            </div>
                            <div class="slot discard" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <img width="100%" height="100%">
                                    <span>Discard: {{game.player2.discard.length}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="slots front">
                            <div class="slot unity" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UNITY}}</span>
                                </div>
                            </div>
                            <div class="slot unity" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UNITY}}</span>
                                </div>
                            </div>
                            <div class="slot unity" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UNITY}}</span>
                                </div>
                            </div>
                            <div class="slot deck" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <img v-if="game.player2.deck.cards.length > 0" :src="GLOBALS.ASSETS[game.player2.deck.back].src" width="100%" height="100%">
                                    <span>Deck: {{game.player2.deck.cards.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player1">
                        <div class="slots front">
                            <div class="slot unity" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UNITY}}</span>
                                </div>
                            </div>
                            <div class="slot unity" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UNITY}}</span>
                                </div>
                            </div>
                            <div class="slot unity" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UNITY}}</span>
                                </div>
                            </div>
                            <div class="slot deck" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">                                
                                <div class="info">
                                    <img v-if="game.player1.deck.cards.length > 0" :src="GLOBALS.ASSETS[game.player1.deck.back].src" width="100%" height="100%">
                                    <span>Deck: {{game.player1.deck.cards.length}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="slots back">
                            <div class="slot structure" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.STRUCTURE}}</span>
                                </div>
                            </div>
                            <div class="slot utility" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.UTILITY}}</span>
                                </div>
                            </div>
                            <div class="slot structure" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <span>{{CONSTANTS.CARD.TYPES.STRUCTURE}}</span>
                                </div>
                            </div>
                            <div class="slot discard" :style="{width: CONSTANTS.CARD.SIZES.WIDTH + 'px', height: CONSTANTS.CARD.SIZES.HEIGHT + 'px'}">
                                <div class="info">
                                    <img width="100%" height="100%">
                                    <span>Discard: {{game.player1.discard.length}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="hand">
                            <img 
                                v-for="card in game.player1.hand" 
                                :src="GLOBALS.ASSETS[card.asset].src" 
                                :width="CONSTANTS.CARD.SIZES.WIDTH" 
                                :height="CONSTANTS.CARD.SIZES.HEIGHT" 
                                @mouseover="SetShowcaseImage(GLOBALS.ASSETS[card.asset].src)"
                                @click="CardOptions(card)"    
                            >
                        </div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="phase-manager">
                        <button class="btn" :disabled="game.activePlayer != game.player2 || game.phase != CONSTANTS.GAME.PHASES.START" @click="DrawPhase">Draw</button>
                        <button class="btn" :disabled="game.activePlayer != game.player2 || game.phase != CONSTANTS.GAME.PHASES.DRAW" @click="PositionPhase">Position</button>
                        <button class="btn" :disabled="game.activePlayer != game.player2 || game.phase != CONSTANTS.GAME.PHASES.POSITION" @click="AttackPhase">Attack</button>
                        <button class="btn" :disabled="game.activePlayer != game.player2 || game.phase != CONSTANTS.GAME.PHASES.ATTACK" @click="EndPhase">End</button>
                    </div>
                    <div class="phase-manager">
                        <h1>{{game.activePlayer.name}}</h1>
                        <h1>Turn: {{game.turn}}</h1>
                        <h1 v-if="game.phase">{{game.phase}}</h1>
                    </div>
                    <div class="phase-manager">
                        <button class="btn" :disabled="game.activePlayer != game.player1 || game.phase != CONSTANTS.GAME.PHASES.START" @click="DrawPhase">Draw</button>
                        <button class="btn" :disabled="game.activePlayer != game.player1 || game.phase != CONSTANTS.GAME.PHASES.DRAW" @click="PositionPhase">Position</button>
                        <button class="btn" :disabled="game.activePlayer != game.player1 || game.phase != CONSTANTS.GAME.PHASES.POSITION" @click="AttackPhase">Attack</button>
                        <button class="btn" :disabled="game.activePlayer != game.player1 || game.phase != CONSTANTS.GAME.PHASES.ATTACK" @click="EndPhase">End</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script type="module">
    import Game from './engine/Game.js'
    import Card from './classes/Card.js'
    import Deck from './classes/Deck.js'
    import Player from './classes/Player.js'
    import CONSTANTS, { GLOBALS } from './classes/Constants.js';

    const app = new Vue({
        el: "#app",
        data: {
            game: null,
            CONSTANTS: CONSTANTS,
            GLOBALS: GLOBALS,

            showcaseImage: null,
        },
        mounted: function(){
            this.StartGame();
        },
        methods: {
            StartGame: function(){
                this.SetupGame();
                this.game.Start();
            },
            SetupGame: function(){
                var cardsPlayer1 = [
                    new Card("Hoopa", CONSTANTS.CARD.TYPES.UNITY, "HOOPA"),
                    new Card("Hoopa1", CONSTANTS.CARD.TYPES.UNITY, "HOOPA"),
                    new Card("Inteleon", CONSTANTS.CARD.TYPES.UNITY, "INTELEON"),
                    new Card("Inteleon1", CONSTANTS.CARD.TYPES.UNITY, "INTELEON"),
                    new Card("Moltres", CONSTANTS.CARD.TYPES.UNITY, "MOLTRES"),
                    new Card("Moltres1", CONSTANTS.CARD.TYPES.UNITY, "MOLTRES"),
                    new Card("Urshifu", CONSTANTS.CARD.TYPES.UNITY, "URSHIFU"),
                    new Card("Urshifu1", CONSTANTS.CARD.TYPES.UNITY, "URSHIFU"),
                ];
                var cardsPlayer2 = [
                    new Card("Hoopa", CONSTANTS.CARD.TYPES.UNITY, "HOOPA"),
                    new Card("Hoopa1", CONSTANTS.CARD.TYPES.UNITY, "HOOPA"),
                    new Card("Inteleon", CONSTANTS.CARD.TYPES.UNITY, "INTELEON"),
                    new Card("Inteleon1", CONSTANTS.CARD.TYPES.UNITY, "INTELEON"),
                    new Card("Moltres", CONSTANTS.CARD.TYPES.UNITY, "MOLTRES"),
                    new Card("Moltres1", CONSTANTS.CARD.TYPES.UNITY, "MOLTRES"),
                    new Card("Urshifu", CONSTANTS.CARD.TYPES.UNITY, "URSHIFU"),
                    new Card("Urshifu1", CONSTANTS.CARD.TYPES.UNITY, "URSHIFU"),
                ];

                var deck1 = new Deck("Deck Teste", cardsPlayer1, "BACK");
                var player1 = new Player("PLAYER1", deck1);

                var deck2 = new Deck("Deck Teste 1", cardsPlayer2, "BACK");
                var player2 = new Player("PLAYER2", deck2)

                this.game = new Game()
                this.game.player1 = player1;
                this.game.player2 = player2;
            },
            DrawPhase: function(){
                this.game.DrawPhase();
            },
            PositionPhase: function(){
                this.game.PositionPhase();
            },
            AttackPhase: function(){
                this.game.AttackPhase();
            },
            EndPhase: function(){
                this.game.EndPhase();
            },
            SetShowcaseImage: function(src){
                this.showcaseImage = src;
            },
            CardOptions: function(card){
                if(this.game.activePlayer.hand.includes(card)){
                    console.log("o card é seu");
                }else{
                    console.log("o card não é seu");
                }
            }
        }
    });
</script>